{%  extends 'AppBundle::layout.html.twig' %}

{%  block title %}
    BENJAMIN GIRALT
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="container">
            <div class="intro-div">
                <h1 class="intro-title">BENJAMIN GIRALT</h1>
                <p class="intro-phrase">{{ infos.phraseIntro }}</p>
                <img src="{{ asset('assets/images/nujabes_circle.jpg') }}"  class="intro-logo" alt="logo_benjamin_giralt">
                <p class="intro-description">{{ infos.aboutMe|nl2br  }}</p>
            </div>
        </div>
    </div>
{% endblock %}

